<div class="layui-header">
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>

            <a href="/" target="_blank" title="网站首页">

                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh"></i>
            </a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
        <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect title="更新缓存">
            <a href="javascript:;" layadmin-event="theme">
                更新缓存
            </a>
        </li> -->
        <li class="layui-nav-item layui-hide-xs" lay-unselect title="便签">
            <a href="javascript:;" layadmin-event="note">
                <i class="layui-icon layui-icon-note"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
                <cite>管理员</cite>
            </a>
            <dl class="layui-nav-child">
                <!-- <dd><a lay-href="set/user/info.html">基本资料</a></dd> -->
                <!-- <dd><a lay-href="set/user/password.html">修改密码</a></dd> -->
                <dd layadmin-event="logout" style="text-align: center;" onclick="exit()">
                    <a>退出</a>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
    </ul>
</div>

<script>
    // 退出
    var exit = function() {
        layer.confirm('确认退出后台控制？', function(idx) {
            layer.closeAll();
        });
    }
</script>