{include file="public:head" /}

<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-header">分类列表</div>
		<div class="layui-card-body">
			<button class="layui-btn layui-btn-normal">添加分类</button>
			<table id="table" lay-filter="table"></table>
		</div>
	</div>
</div>

<script>
	layui.use('table', function() {
		var table = layui.table;

		table.render({
			elem: "#table",
			url: "{:url('index')}",
			page: true,
			done: function(res) {
			},
			cols: [[
				{field: 'id', title: 'ID', width: 80, sort: true, align: 'center'},
				{field: 'type', title: '类型', width: 120, align: 'center'},
				{field: 'sort', title: '排序', width: 80, align: 'center', sort: true},
				{field: 'create_time', title: '创建时间', width: 140, align: 'center'},
				{field: 'update_time', title: '更新时间', width: 140, align: 'center'},
				{title: '操作', width: 120, align: 'center', templet: '#operation'}
			]]
		});
	});
</script>

<script type="text/html" id="operation">
	<a class="layui-btn layui-btn-xs" lay-event="detail">编辑</a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="detail">删除</a>
</script>
