{extend name="public:base" /}

{block name="content"}
<!--breadcrumbs-->
<section id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li>
                    	<a href="{:url('index')}">主页</a>
                    </li>
                    <li>
                        <span class="show-for-sr">当前: </span> {$data['type']}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--end breadcrumbs-->

<section class="content" style="margin: 10px 0">
    <!-- newest video -->
    <div class="main-heading">
        <div class="row secBg padding-14">
            <div class="medium-8 small-8 columns">
                <div class="head-title">
                    <i class="fa fa-film"></i>
                    <h4>{$data['type']}</h4>
                </div>
            </div>
            <div class="medium-4 small-4 columns">
                <ul class="tabs text-right pull-right" data-tabs id="newVideos">
                    <li class="tabs-title is-active"><a href="#new-all">全部</a></li>
                    <li class="tabs-title"><a href="#new-hd">高清</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="row column head-text clearfix">
                <p class="pull-left">全部视频 : <span>1,862</span></p>
                <div class="grid-system pull-right show-for-large">
                    <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                    <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                    <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                </div>
            </div>
            <div class="tabs-content" data-tabs-content="newVideos">
                <div class="tabs-panel is-active" id="new-all">
                    <div class="row list-group">
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">上传者</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>2018/8/24</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default end">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="new-hd">
                    <div class="row list-group">
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item large-3 medium-6 columns group-item-grid-default">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item large-3 medium-6 columns group-item-grid-default end">
                            <div class="post thumb-border">
                                <div class="post-thumb">
                                    <img src="http://placehold.it/370x220" alt="new video">
                                    <a href="single-video-v2.html" class="hover-posts">
                                        <span><i class="fa fa-play"></i>播放视频</span>
                                    </a>
                                    <div class="video-stats clearfix">
                                        <div class="thumb-stats pull-left">
                                            <h6>高清</h6>
                                        </div>
                                        <div class="thumb-stats pull-left">
                                            <i class="fa fa-heart"></i>
                                            <span>506</span>
                                        </div>
                                        <div class="thumb-stats pull-right">
                                            <span>05:56</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-des">
                                    <h6><a href="single-video-v2.html">这是影片的标题</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-user"></i>
                                            <span><a href="#">admin</a></span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>5 January 16</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>1,862K</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                    <div class="post-button">
                                        <a href="single-video-v2.html" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 分页 -->
            <div class="pagination">
		        <a href="#" class="prev page-numbers">« 上一页</a>
		        <a href="#" class="page-numbers">1</a>
		        <span class="page-numbers current">2</span>
		        <a href="#" class="page-numbers">3</a>
		        <a href="#" class="next page-numbers">下一页 »</a></div>
			</div>
			<!-- 分页结束 -->
        </div>
    </div>
</section>
{/block}