{extend name="public:base" /}

{block name="content"}
<!-- 视频播放插件 -->

<style>
    /* 手机屏幕 */
    .SinglePostStats .media-object .social-share .post-like-btn .min-btn { border: 1px solid #ececec; line-height: 27px; font-size: 13px; width: 34px; margin-right: 5px; height: 30px; border-radius: 3px; background: #f6f6f6; display: inline-block; color: #8e8e8e; text-align: center; cursor: pointer; }
    .singlePostDescription .heading { margin-bottom: 0; padding: 20px 0 10px 0; }
    .singlePostDescription .description { padding: 10px 0; }
    .singlePostDescription .description p { margin-bottom: 0; }
    
    /* 视频播放器 */
    .fullwidth-single-video { padding: 5px 0 0 0; margin-bottom: 14px; }
    .m { padding: 0; }
    #playVideo { height: 450px; width: 100%; margin: 0 auto; border: 1px solid; }
    
    @media screen and (max-width: 1000px) { 
        #playVideo { height: 230px; width: 100%; } 
        .content .list-group .item { margin-bottom: -10px; }
        .content .list-group .item:nth-child(1) { margin-top: -20px; }
    } 
</style>

<!--breadcrumbs-->
<section id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li>
                        <a href="{:url('index')}">主页</a>
                    </li>
                    <li>
                        <a href="{:url('category')}">分类</a>
                    </li>
                    <li>
                        <span class="show-for-sr">当前: </span> <span>视频播放</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--end breadcrumbs-->

<!-- full width Video -->
<section class="fullwidth-single-video" id="video-play">
    <div class="row">
        <div class="large-12 columns">
            <div class="m">
                <video id="playVideo" controls src="">
                    您的浏览器版本过低，请更新浏览器或者更换高版本的浏览器。
                </video>
            </div>
        </div>
    </div>
</section>
<!-- full width video end -->

<!-- content -->
<div class="row">
    <!-- left side content area -->
    <div class="columns">
        <!-- single post stats -->
        <section class="SinglePostStats">
            <!-- newest video -->
            <div class="row secBg">
                <div class="large-12 columns">
                    <div class="media-object stack-for-small">
                        
                        <div class="media-object-section object-second">
                            <div class="author-des clearfix">
                                <div class="post-title">
                                    <!-- 标题 -->
                                    <h4></h4>
                                    <p>
                                        <span><i class="fa fa-clock-o"></i><span class="play-num"></span></span>
                                        <span><i class="fa fa-eye"></i><span class="play-num"></span></span>
                                        <span><i class="fa fa-thumbs-o-up"></i><span class="play-num"></span></span>
                                        <span><i class="fa fa-thumbs-o-down"></i><span class="play-num"></span></span>
                                    </p>
                                </div>
                            </div>
                            <div class="social-share">
                                <div class="post-like-btn clearfix">
                                    <span class="min-btn" onclick="comment(1)"><i class="fa fa-thumbs-o-up"></i></span>
                                    <span class="min-btn" onclick="comment(2)"><i class="fa fa-thumbs-o-down"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End single post stats -->

        <!-- single post description -->
        <section class="singlePostDescription">
            <div class="row secBg">
                <div class="large-12 columns">
                    <div class="heading">
                        <h5>描述</h5>
                    </div>
                    <div class="description showmore_one">
                        <!-- 描述 -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End single post description -->

        <!-- 相关视频 -->
        <section class="content content-with-sidebar related" id="relevant">
            <div class="row secBg">
                <div class="large-12 columns">
                    <div class="main-heading borderBottom">
                        <div class="row padding-14">
                            <div class="medium-12 small-12 columns">
                                <div class="head-title">
                                    <i class="fa fa-film"></i>
                                    <h4>相关视频</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row list-group">
                        <div class="item large-4 columns end group-item-grid-default" v-for="item in relevant.data">
                            <div class="post thumb-border">
                                <a :href="item.url">
                                    <div class="post-thumb">
                                        <img :src="item.img" :alt="item.title" onerror='this.src="/images/loaderr.jpg"'>
                                        <a :href="item.url" class="hover-posts">
                                            <span><i class="fa fa-play"></i>播放视频</span>
                                        </a>
                                        <div class="video-stats clearfix">
                                            <div class="thumb-stats pull-left" v-if="item.is_hd == 1">
                                                <h6>高清</h6>
                                            </div>
                                            <div class="thumb-stats pull-left">
                                                <i class="fa fa-heart"></i>
                                                <span>{{ item.fabulous }}</span>
                                            </div>
                                            <div class="thumb-stats pull-right">
                                                <span>{{ item.time }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="post-des">
                                    <h6><a :href="item.url">{{ item.title }}</a></h6>
                                    <div class="post-stats clearfix">
                                        <p class="pull-left">
                                            <i class="fa fa-clock-o"></i>
                                            <span>{{ item.create_time }}</span>
                                        </p>
                                        <p class="pull-left">
                                            <i class="fa fa-eye"></i>
                                            <span>{{ item.watch_count }}</span>
                                        </p>
                                    </div>
                                    <div class="post-summary">
                                        {{ item.desc }}
                                    </div>
                                    <div class="post-button">
                                        <a :href="item.url" class="secondary-button"><i class="fa fa-play-circle"></i>播放视频</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end 相关视频 -->
    </div>
    <!-- end left side content area -->
</div>
<!-- content-end -->

<script>
    // 点赞标记
    var commentFlag = false;

    // 视频播放
    $(function() {
        var u = '{:url("home/detailVideo")}',
            d = { id: '{$data["playid"]}' }

        $.get(u, d, function(res) {
            // 设置分类导航
            var li = '<a href="/category?id='+ res.data.vtype +'&type='+res.data.type+'">'
                +res.data.type+'</a>'
            $('#breadcrumb .breadcrumbs>li:nth-child(2)').html(li)

            // 设置导航
            var span = '<span class="show-for-sr">当前: </span> '+ res.data.title
            $('#breadcrumb .breadcrumbs>li:nth-child(3)').html(span)

            // 设置标题
            $('title').text('一色网在线播放,高清无码色情视频网站播放-'+res.data.title)

            // 设置资源,视频播放
            $('#playVideo').attr('src', res.data.url)

            // 设置信息
            $('.post-title>h4').text(res.data.title)
            $($('.post-title>p>span .play-num')[0]).text(res.data.create_time)
            $($('.post-title>p>span .play-num')[1]).text(res.data.watch_count)
            $($('.post-title>p>span .play-num')[2]).text(res.data.fabulous)
            $($('.post-title>p>span .play-num')[3]).text(res.data.step_on)

            // 描述
            $('.description').html("<p>"+res.data.desc+"</p>")
        })

        // 统计观看次数
        u = '{:url("home/countWatch")}'
        $.get(u, d)
    })
    // 视频播放结束

    // 暂停/播放
    var videoControls = function() {

    }
    
    // 点赞和踩
    var comment = function(mode) {
        // mode为1是点赞，mode为2是踩
        if (commentFlag) return ;

        var u = '{:url("home/comment")}',
            d = { id: '{$data["playid"]}' }

        $($('.social-share .min-btn')[mode-1]).css({
            'background': '#e96969',
            'color': '#fff',
            'border-color': '#e96969'
        });

        commentFlag = true
        mode == 1 ? d.fabulous = 1 : d.step_on = 1
        $.post(u, d, function(res) {
            if (res.code == 0) {
                // 成功，获取点赞和踩数据重新渲染
                var u = '{:url("home/getComment")}',
                    d = { id: '{$data["playid"]}' }

                $.get(u, d, function(res) {
                    $($('.post-title>p>span .play-num')[2]).text(res.fabulous)
                    $($('.post-title>p>span .play-num')[3]).text(res.step_on)
                })
            }
        })
    }
     
    // 相关视频
    var relevantvm = new Vue({
        el: '#relevant',
        data: {
            relevant: {}
        },
        created: function() {
            // 获取相关视频
            var u = '{:url("home/relevant")}'
            d= { id: '{$data["playid"]}' }

            $.get(u, d,function(res) {
                for (var i=0; i<res.data.length; i++) {
                    res.data[i].url = '/play?playid=' + res.data[i].id
                }

                Vue.set(relevantvm, 'relevant', res)
            })
        }
    })
</script>
{/block}