<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>{block name="title"}一色网在线播放,高清无码色情视频网站{/block}</title>
    <meta name="keywords" content="一色网,日本色情,av,色情网站,色情视频">
    <meta name="description" content="专治“夜晚睡不着觉，寂寞难耐”，免费在线观看视频无须下载APP，里面有各种各样的精彩视频！！还有每天视频更新！！！外还有全功能搜索种子，各种女明星，想要什么直接搜索什么就可以！！！">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="favicon.ico" />
    {include file="public:head" /}
</head>
<body>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <!-- header手机导航 -->
        {include file="public:navbar-phone" /}

        <div class="off-canvas-content" data-off-canvas-content>
            <!-- pc端导航 -->
            {include file="public:navbar-pc" /}
            <!-- End Header -->

            {block name="content"}{/block}

            <!-- footer -->
            {include file="public:footer" /}
            <!-- footer-end -->

        </div><!--end off canvas content-->
    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->

<!-- 加载js -->
<script src="/public/static/index/bower_components/jquery/dist/jquery.js"></script>
<script src="/public/static/index/bower_components/what-input/what-input.js"></script>
<script src="/public/static/index/bower_components/foundation-sites/dist/foundation.js"></script>
<script src="/public/static/index/js/jquery.showmore.src.js" type="text/javascript"></script>
<script src="/public/static/index/js/app.js"></script>
<script src="/public/static/index/layerslider/js/greensock.js" type="text/javascript"></script>
<!-- LayerSlider script files -->
<script src="/public/static/index/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="/public/static/index/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="/public/static/index/js/owl.carousel.min.js"></script>
<script src="/public/static/index/js/inewsticker.js" type="text/javascript"></script>
<script src="/public/static/index/js/jquery.kyco.easyshare.js" type="text/javascript"></script>

</body>
</html>