<style>
footer { padding: 0 0; }
footer .footer-div { margin: 0 auto; max-width: 75rem; }
#footer-bottom { padding-left: 0.625rem; padding-right: 0.625rem; }
#footer-bottom .btm-footer-text p { line-height: 1.2rem; }
</style>

<!-- footer -->
<footer>
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-double-up"></i></a>

    <!-- 免责声明 -->
    <!-- <div class="footer-div">
		<p>这是一段文字</p>
    </div> -->
</footer>
<!-- footer -->

<div id="footer-bottom">
    <div class="btm-footer-text text-center">
        <p>站点邮箱：1se0x.com@gmail.com ！未满18岁或被误导来到这里，请立即离开！</p>
        <p style="margin-top: 5px;">请使用Ctrl+D进行收藏本站， 喜欢本站的朋友请将 <span id="footer-url"></span> 转发给您的好友</p>
        <p style="margin-top: 5px">免责声明:本站所有视频均来自互联网收集而来，版权归原创者所有，如果侵犯了你的权益，请通知我们，我们会及时删除侵权内容，谢谢合作！</p>
    </div>
</div>

<script>
$("#footer-url").text(window.location.host)
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>