<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 加载css -->
{load href="./public/static/index/css/app.css" /}
{load href="./public/static/index/css/theme.css" /}
{load href="./public/static/index/css/font-awesome.min.css" /}
{load href="./public/static/index/css/googleapis.css" /}
{load href="./public/static/index/layerslider/css/layerslider.css" /}
{load href="./public/static/index/css/owl.carousel.min.css" /}
{load href="./public/static/index/css/owl.theme.default.min.css" /}
{load href="./public/static/index/css/responsive.css" /}