<!-- 手机端菜单 -->
<div class="off-canvas position-left light-off-menu" id="offCanvas-responsive" data-off-canvas>
    <div class="off-menu-close">
        <h3>导航</h3>
        <span data-toggle="offCanvas-responsive"><i class="fa fa-times"></i></span>
    </div>
    <ul class="vertical menu off-menu" data-responsive-menu="drilldown">
        <li class="has-submenu">
            <a href="#">主页</a>
        </li>
        <li class="has-submenu" data-dropdown-menu="example1">
            <a href="#">Videos</a>
        </li>
        <li>
            <a href="categories.html">category</a>
        </li>
        <li>
            <a href="blog.html">blog</a>
        </li>
        <li>
            <a href="#">features</a>
        </li>
        <li>
            <a href="about-us.html">about</a>
        </li>
        <li>
            <a href="contact-us.html">contact</a>
        </li>
    </ul>
    <div class="responsive-search">
        <form method="post">
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="search Here">
                <div class="input-group-button">
                    <button type="submit" name="search"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>