<!-- 手机端菜单 -->
<div class="off-canvas position-left light-off-menu" id="offCanvas-responsive" data-off-canvas>
    <div class="off-menu-close">
        <h3>导航</h3>
        <span data-toggle="offCanvas-responsive"><i class="fa fa-times"></i></span>
    </div>
    <ul class="vertical menu off-menu" data-responsive-menu="drilldown">
        <li class="has-submenu">
            <a href="{:url('index')}">主页</a>
        </li>
        <li class="has-submenu" v-for="item in nav">
            <a v-bind:href="item.url">{{ item.type }}</a>
        </li>
    </ul>
    <div class="responsive-search">
        <div>
            <div class="input-group">
                <input class="input-group-field" type="text" name="phonesearch" placeholder="请输入要搜索的视频名称">
                <div class="input-group-button">
                    <button type="submit" name="search" @click="search"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var phonevm = new Vue({
        el: "#offCanvas-responsive",
        data: {
            // 导航条
            nav: []
        },
        beforeCreate: function() {
            var u = '{:url("home/classify")}'

            $.get(u, function(res) {
                var newres = [];

                for (var i in res) {
                    var temp = {
                        url: "/category?id="+ res[i].id +"&type="+ res[i].type,
                        type: res[i].type
                    };

                    newres.push(temp)
                }

                // 设置导航
                Vue.set(phonevm, 'nav', newres)
            })
        },

        methods: {
            // 搜索
            search: function() {
                var u = '/search?keyword=' + $('[name=phonesearch]').val()

                window.location.href = u
            }
        }
    });
</script>